<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12 pad-right-zero">
        <google-chart [data]="comboChartData" (mouseOver)="mouseOver($event)" (mouseOut)="mouseOut($event)"></google-chart>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col-md-12 pad-right-zero">
        <div class="body_inner">
          <h4>News</h4>
        </div>
      </div>
    </div>
    <!-- <google-chart [data]="lineChartData" (chartReady)="ready($event)" (chartError)="error($event)" (chartSelect)="select($event)"></google-chart> -->
  </div>
  <div class="col-md-4">
    <div class="body_inner">
      <h4>Assistant</h4>
    </div>
  </div>
</div>