<div class="container">
    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="name">Subject</label>
        <input type="textbox" class="form-control">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="name">Due Date</label>
        <input type="textbox" class="form-control">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="name">Assigned To</label>
        <input type="textbox" class="form-control">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="name">Name</label>
        <input type="textbox" class="form-control">
    </div>
    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <label for="name">Related To</label>
        <input type="textbox" class="form-control">
    </div>
</div>