.buttonNew {
    /* margin-right: 20pc; */
      display:inline-block;
      color:#444;
      border:1px solid #CCC;
      /* background:#DDD; */
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
      cursor:pointer;
      vertical-align:middle;
      width: 100px;
      padding: 5px;
      text-align: center;
      color: rgb(0, 112, 210);
  }
  .buttonNew:active {
      box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
  }