<!--Tasks Page-->


<div class="buttonHeader pull-right">
  <div class="buttonNew" (click)="open(content)">New</div>
</div>
<p>&nbsp;</p>
<b>Task</b>
<ng-table [config]="config" (tableChanged)="onChangeTable(config)" (cellClicked)="onCellClick($event)" [rows]="rows" [columns]="columns">
</ng-table>
<pagination class="pagination-sm" [(ngModel)]="page" [totalItems]="length" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize"
  [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
</pagination>

<!--********Task Starts*********-->
<ng-template #content let-c="close" let-d="dismiss" style="pos-rel">
  <div class="close-btn-container pos-abs">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-header">
    <h4 class="modal-title text-center">New Tasks</h4>
  </div>
  <div class="modal-body">
    <div class="extra-pad">
      <div class="">
        <div class="col-xs-6">
          <label for="firstname">Subject</label>
          <input class="form-control" id="Subject" type="text">
        </div>
        <div class="col-xs-6">
          <label for="assignedto">Assigned To</label>
          <input class="form-control" id="assignedto" type="text">
        </div>
        <div class="col-xs-6">
          <label for="lastname">Due Date </label>
          <input class="form-control" id="lastname" type="text">
        </div>
        <div class="col-xs-6">
          <label for="name">Name</label>
          <input class="form-control" id="name" type="text" placeholder="Search Contacts">
        </div>
        <div class="col-xs-6">
          <label for="relatedto">Related To</label>
          <input class="form-control" id="accountsname" type="text"placeholder="Search Accounts">
        </div>
        <div class="col-xs-12">
          <label for="comments">Comments</label>
          <textarea class="form-control" rows="3" id="comments"></textarea>
        </div>
        <p>&nbsp;</p>
        
        <div class="col-xs-6">
            <b>Additional Informatiom</b>
          <label for="name">Priority</label>
          <select class="form-control" id="type" name="type">
            <option value="pleaseselect">Please Select</option>
            <option value="none">None</option>
            <option value="high">High</option>
            <option value="normal">Normal</option>
          </select>
        </div>
        <div class="col-xs-6">
          <label for="name">Status</label>
          <select class="form-control" id="type" name="type">
            <option value="pleaseselect">Please Select</option>
            <option value="none">None</option>
            <option value="open">Open</option>
            <option value="completed">Completed</option>
          </select>
        </div>
        <p>&nbsp;</p>
        <b>Other Informatiom</b>
        <p>&nbsp;</p>
        <div class="col-xs-6">
          <label>
            <input type="checkbox" value="">Create Recurring Series of Tasks</label>
        </div>
        <p>&nbsp;</p>
        <div class="col-xs-6">
          <label>
            <input type="checkbox" value="">Reminder Set</label>
        </div>
        <p>&nbsp;</p>
        <div class="col-xs-6">
          <label for="date">Date</label>
          <input class="form-control" id="date" type="text">
        </div>
        <div class="col-xs-6">
          <label for="time">Time</label>
          <input class="form-control" id="time" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" id="btnSave">
      <i class="fa fa-check-circle"></i>Save</button>
    <button type="button" class="btn btn-default" id="btnCancel" (click)="c('Close click')">Cancel</button>
  </div>
</ng-template>